{
	"instances": [
    {{#instances}}
		{
			"name": "{{name}}",
			"system-name": "{{system-name}}",
			"parameters": {
            {{#parameters}}
            "{{varname}}": {{true}}{{comma}} 
            {{/parameters}}
        },
			"time": {
				"start": {{time_start}},
				"end": {{time_end}},
				"count": {{count}}
        },
			"initial": {
            {{#states}}
                "{{varname}}": {{value}}{{comma}} 
            {{/states}}
        }
		},
    {{/instances}}
	]
}
