********** MODEL NAME

{{name}}

********** MODEL NOTES


********** MODEL STATES

{{#components}}
d/dt({{state_var}}) = {{state_expr}}
{{/components}}

********** MODEL PARAMETERS

{{#parameters}}
{{varname}} = {{true}}
{{/parameters}}

********** MODEL VARIABLES

{{#measured_quantities}}
OUTPUT{{index}} = {{measurement_expression}}
{{/measured_quantities}}

********** MODEL REACTIONS


********** MODEL FUNCTIONS


********** MODEL EVENTS



