push!(LOAD_PATH, "/home/soogo/ParameterEstimation.jl")
using ModelingToolkit, DifferentialEquations, Plots
using ParameterEstimation
using JLD2, FileIO
solver = Tsit5()

@parameters {{#parameters}}{{varname}}{{space}}{{/parameters}}
@variables t {{#states}}{{varname}}(t){{space}}{{/states}} {{#measurements}}{{varname}}(t){{space}}{{/measurements}}
D = Differential(t)
# TODO
states = [{{#states}}{{varname}}{{comma}}{{/states}}]
parameters = [{{#parameters}}{{varname}}{{comma}}{{/parameters}}]
@named model = ODESystem([
                            {{#components}}
                             D({{state_var}}) ~ {{state_expr}},
                            {{/components}}
                         ], t, states, parameters)
measured_quantities = [
    {{#measured_quantities}}
        {{measurement}} ~ {{measurement_expression}},
    {{/measured_quantities}}
]
ic = [{{#initial_conditions}}{{value}}{{comma}}{{/initial_conditions}}]
p_true = [{{#parameters}}{{true}}{{comma}}{{/parameters}}]
time_interval = [{{time_start}}, {{time_end}}]
datasize = {{time_count}}

data_sample = load("data/julia/{{name}}.jld2", "data")
res = ParameterEstimation.estimate(model, measured_quantities, data_sample; solver = solver)
all_params = vcat(ic, p_true)

#put in selection for which answer in case of multiples
for each in res
    estimates = vcat(collect(values(each.states)), collect(values(each.parameters)))
end

